:root {
  --color-white: #FFF;
  
  --color-black-pearl-50: #E4EBEE;
  --color-black-pearl-900: #1B262C;
  --color-black-pearl-700: #3C5562;
  --color-black-pearl-400: #7799AC;

  --color-aquarius-100: #C5EAF0;
  --color-aquarius-900: #0D2E32;

  --container-max-width: 1180px;
}